@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Shimmer Food Container */
.shimmer-food-outer-ctr {
    height: 29rem;
    width: 100vw;
    padding: 0 20rem;
    margin-bottom: 5rem;
}

.shimmer-food-ctr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-betwen;
    align-items: center;
    align-items: center;
}

.shimmer-food-header-ctr {
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.shimmer-food-cards-ctr {
    height: 20rem;
    width: 100%;
    background-color: #dcdcdc;
    overflow: hidden;
}

/* Restaurant */
.res-not-found-ctr {
    padding: 10rem 0;
    text-align: center;
}

.res-not-found-msg {
    color: #444;
}

/* Shimmer Restaurant */
.shimmer-res-list-ctr {
    height: 33rem;
    width: 100%;
    padding: 0 10rem;
    text-align: center;
}

.shimmer-search-bar {
    display: inline-block;
    height: 5rem;
    width: 50rem;
    margin-bottom: 5rem;
    background-color: #dcdcdc;
}

.shimmer-res-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shimmer-res-card {
    height: 33rem;
    width: 25rem;
    margin: 2rem 1rem;
    background-color: #dcdcdc;
}

/* About */
.about-ctr {
    padding: 10rem 0;
    text-align: center;
}