@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Food Container */
.more-food-left, .more-food-right {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    margin: 0 1.6rem;
    font-size: 2.2rem;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 3rem;
    cursor: pointer;
}

.food-outer-ctr {
    padding: 0rem 20rem;
    margin-bottom: 5rem;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.food-ctr {
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
}

.food-header-ctr {
    height: 4rem;
    padding: 4rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.food-cards-ctr {
    width: 100%;
    overflow: hidden;
}

.food-cards {
    width: 2000rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

/* Food Card */
.food-card {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#food-img {
    width: 15rem;
    display: block;
}

#food-name {
    padding: 1rem 0;
}

/* Shimmer Food Container */
.shimmer-food-outer-ctr {
    height: 29rem;
    width: 100vw;
    padding: 0 20rem;
    margin-bottom: 5rem;
}

.shimmer-food-ctr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-betwen;
    align-items: center;
    align-items: center;
}

.shimmer-food-header-ctr {
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.shimmer-food-cards-ctr {
    height: 20rem;
    width: 100%;
    background-color: #dcdcdc;
    overflow: hidden;
}

/* Restaurant */
.res-not-found-ctr {
    padding: 10rem 0;
    text-align: center;
}

.res-not-found-msg {
    color: #444;
}

#search-res-box {
    width: 40rem;
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    color: #333;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    border-radius: 5px;
}

#search-res-box:hover {
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

#search-res-btn {
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    margin-left: 1rem;
    background-color: rgb(90, 90, 235);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease;
}

#search-res-btn:hover {
    /* background-color: rgb(115, 115, 236); */
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.res-list-ctr {
    width: 100%;
    padding: 0 10rem;
    text-align: center;
}

.res-list {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.res-card-ctr {
    text-decoration: none;
}

/* Shimmer Restaurant */
.shimmer-res-list-ctr {
    height: 33rem;
    width: 100%;
    padding: 0 10rem;
    text-align: center;
}

.shimmer-search-bar {
    display: inline-block;
    height: 5rem;
    width: 50rem;
    margin-bottom: 5rem;
    background-color: #dcdcdc;
}

.shimmer-res-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shimmer-res-card {
    height: 33rem;
    width: 25rem;
    margin: 2rem 1rem;
    background-color: #dcdcdc;
}