@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Food Container */
.more-food-left, .more-food-right {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    margin: 0 1.6rem;
    font-size: 2.2rem;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 3rem;
    cursor: pointer;
}

.food-outer-ctr {
    padding: 0rem 20rem;
    margin-bottom: 5rem;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.food-ctr {
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
}

.food-header-ctr {
    height: 4rem;
    padding: 4rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.food-cards-ctr {
    width: 100%;
    overflow: hidden;
}

.food-cards {
    width: 2000rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

/* Food Card */
.food-card {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#food-img {
    width: 15rem;
    display: block;
}

#food-name {
    padding: 1rem 0;
}

/* Shimmer Food Container */
.shimmer-food-outer-ctr {
    height: 29rem;
    width: 100vw;
    padding: 0 20rem;
    margin-bottom: 5rem;
}

.shimmer-food-ctr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-betwen;
    align-items: center;
    align-items: center;
}

.shimmer-food-header-ctr {
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.shimmer-food-cards-ctr {
    height: 20rem;
    width: 100%;
    background-color: #dcdcdc;
    overflow: hidden;
}

/* Restaurant */
.res-not-found-ctr {
    padding: 10rem 0;
    text-align: center;
}

.res-not-found-msg {
    color: #444;
}

#search-res-box {
    width: 40rem;
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    color: #333;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    border-radius: 5px;
}

#search-res-box:hover {
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

#search-res-btn {
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    margin-left: 1rem;
    background-color: rgb(90, 90, 235);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease;
}

#search-res-btn:hover {
    /* background-color: rgb(115, 115, 236); */
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.res-list-ctr {
    width: 100%;
    padding: 0 10rem;
    text-align: center;
}

.res-list {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.res-card-ctr {
    text-decoration: none;
}

.res-card {
    width: 25rem;
    height: 33rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 5px;
}

.res-card:hover {
    margin-top: -1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.res-card > .res-img-name-ctr > img {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.res-details {
    padding: 2rem;
}

.res-name {
    color: #282828;
    padding: 1rem 2rem 0;
}

.res-cuisines, .res-area, .res-rating, .res-last-mile, .res-cost {
    color: #555;
    padding: 0.3rem 0;
}

.rating-start {
    color: rgb(234, 199, 2);
    margin-right: 1rem;
}

/* Shimmer Restaurant */
.shimmer-res-list-ctr {
    height: 33rem;
    width: 100%;
    padding: 0 10rem;
    text-align: center;
}

.shimmer-search-bar {
    display: inline-block;
    height: 5rem;
    width: 50rem;
    margin-bottom: 5rem;
    background-color: #dcdcdc;
}

.shimmer-res-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shimmer-res-card {
    height: 33rem;
    width: 25rem;
    margin: 2rem 1rem;
    background-color: #dcdcdc;
}

/* Res Menu */
.res-menu-outer-ctr {
    width: 100vw;
    height: auto;
    padding: 5rem 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-menu-header {
    padding: 2rem;
}

.dish-outer-ctr {
    max-width: 100rem;
    width: 100%;
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.dish-details-ctr {
    padding: 2rem;
    width: 80%;
}

.dish-veg-classifier img {
    height: 2rem;
}

.dish-price {
    font-size: 2.5rem;
    font-weight: bold;
    color: #df734a;
}

.dish-description {
    padding: 1rem 0;
    color: #333;
    font-size: 1.5rem;
}

.dish-image-ctr {
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-image {
    height: 80%;
    width: 80%;
}

/* Responsiveness */
@media screen and (max-width: 1300px) {
    .res-menu-outer-ctr {
        padding: 0 15rem;
    }

    .dish-outer-ctr {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .res-menu-outer-ctr {
        padding: 0 8rem;
    }

    .dish-outer-ctr {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 680px) {
    .res-menu-outer-ctr {
        padding: 0 3rem;
    }

    .dish-outer-ctr {
        margin: 2rem 0;
    }
}